*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  min-height: 95vh;
  background-color: #89b5af;
}

.block {
  /* margin: 20px; */
  padding: 10px;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.2sec;
  border-radius: 5px;
}

input,
button {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 2px 10px;
  color: #333333;
  border-radius: 3px;
  border: 1px solid #87aaaa;
}

button {
  background-color: #cee5d0;

  /* border: 1px; */
}

label {
  font-size: 1.8rem;
  font-weight: 700;
}

/* .my-todo-list h2 {
  margin: 0;
  padding: 0;
} */

.send-form {
  /* margin-top: 40px; */
  padding: 20px;
  min-height: 12rem;
  border: 1px solid rgb(226, 226, 226);
  background-color: #96c7c1;
}

.todo-list {
  min-height: 2rem;
  width: 20rem;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
  background-color: #96c7c1;
}

.todo-item {
  background-color: #d1e8e4;
  border-radius: 2px;
  padding: 5px 20px;
  margin: 8px 10px;
}

.todo-item:hover {
  cursor: pointer;
  background-color: rgb(240, 95, 95);
  transition: 0.1s;
}
.todo-item:hover::after {
  position: relative;
  right: -10px;
  font-size: 1rem;
  content: "\2716";
  float: right;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: fixed;
  top: 5%;
  right: 5%;
  text-align: center;
  height: 3rem;
  width: 15rem;
  border-radius: 5px;
  display: none;
  transition: 0.3s;
  border: 1px solid rgb(201, 201, 201);
  background-color: rgb(240, 95, 95);
}
.alert h3 {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 10px;
}

.done {
  position: fixed;
  top: 5%;
  right: 5%;
  text-align: center;
  height: 3rem;
  width: 15rem;
  border-radius: 5px;
  display: none;
  transition: 0.3s;
  border: 1px solid rgb(201, 201, 201);
  background-color: rgb(95, 240, 107);
}

.done h3 {
  font-size: 1.2rem;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .alert {
    /* height: 3rem; */
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .done {
    /* height: 3rem; */
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
